# Libraries

In [2]:
import pandas as pd
import numpy as np

## Reading the data in Excel Sheets into Pandas DataFrame

In [15]:
data1=pd.read_excel("datasets/All_patients_clinical_data.xlsx")
data2= pd.read_excel("datasets/All_patients_marker_genes.xlsx",sheet_name = None)

## Exploring the Data Frame data1

In [45]:
data1

,Sample ID,Age,Gender,Date of sample collection relative to diagnosis,FAB subtype,Mutation,Therapeutic regimen,Single-cell type,Cell counts,Post-treatment samples collection information,Transplantation
0,P01,19,F,2018-04-30 00:00:00,M2,"WT1,TP53",NaN,II,7065,NaN,NaN
1,P02,66,M,2017-09-11 00:00:00,M1,NaN,NaN,I,9222,NaN,NaN
2,P03,40,M,2018-09-07 00:00:00,M2,NRAS,IA,I,6372,NaN,NaN
3,P04,56,F,2018-08-27 00:00:00,M4,"WT1,DNMT3A,TET2,PTPN11","IA, DAC+AAE, DAC+AAE",I,3076(Pre)/9446(Post),"clollected before the 3rd regimen, partial re...",NaN
4,P05,52,M,2018-08-22 00:00:00,M2,"IDH2,NPM1","IA, IA",I,6886,NaN,NaN
5,P06,28,F,2018-10-15 00:00:00,M5,"WT1,RUNX1","IA, HAE, CLAG, Ara-C+CLAG, AA",I,5184,NaN,NaN
6,P07,53,M,2018-09-18 00:00:00,M0,"KRAS,IDH2","IA, IA",II,3680,NaN,NaN
7,P08,71,F,2018-09-13 00:00:00,M0,"FLT3-ITD,IDH2,NPM1","DAC+IA, IA, IA",I,5018,NaN,"11/16/18, 12/20/18, 3/26/19, Micro-transplant..."
8,P09,18,F,2018-08-01 00:00:00,M2,"WT1,TET2,GATA1,NPM1","IA, IA, IDA+Ara-C, VP-16+Ara-C",I,4963,NaN,NaN
9,P10,29,M,2018-05-17 00:00:00,M2,"c-kit,ASXL1,TET2,TP53,WT1","IA, IA, Ara-C, Ara-C, DAC+IA, DAC+IA",II,2959,NaN,NaN
10,P11,35,F,2017-10-27 00:00:00,M2,"ASXL1,TET2,TP53,WT1","IA,CAG,DAC+CAG, DAC+AA, Ara-C, Ara-C, Ara-C, HAE",II,2510,NaN,NaN
11,P12,64,F,2018-08-06 00:00:00,M2,NaN,NaN,I,8568,NaN,NaN
12,P13,68,F,2018-06-13 00:00:00,M2,"IDH2,ASXL1,TET2,TP53,WT1",NaN,II,2146,NaN,NaN
13,P14,67,F,2018-07-02 00:00:00,M5,"IDH2,DNMT3A","DAC+IA, AZA+AA, AZA+AA, AZA+AA",I,2662,NaN,"9/22/18, 11/20/18, 1/11/19, 4/4/19, Micro-tra..."
14,P15,63,M,2018-05-29 00:00:00,M5,NaN,"IA, IA",I,3360,NaN,NaN
15,P16,24,F,2017-12-21 00:00:00,M5,No mutation detected,"IA, CAG, CALG",II,4058,NaN,"4/3/18, HSCT"
16,P17,50,M,2018-05-30 00:00:00,M5,NaN,"IA, IA, IA, IA, IA",II,5673,NaN,NaN
17,P18,53,M,2018-08-15 00:00:00,M2,RUNX1,"IA, IA",II,4911,NaN,NaN
18,P19,28,M,2018-09-10 00:00:00,M4,"WT1,FLT3-ITD,CEBPA","IA, IA, AAE",II,6887,NaN,NaN
19,P20,29,M,2017-09-19 00:00:00,M5,CEBPA,"IA, IA, FLAG, AAE, VP-16+Ara-C, MEA, MEA",II,6494(Pre)/5978(Post),"clollected before the 6th regimen, relapse",NaN
20,P21,53,M,2017-12-20 00:00:00,M4,"IDH2,DNMT3A,PHF6,ASXL1,WT1","IA, CAG",I,3479,NaN,NaN
21,P22,67,F,2018-01-22 00:00:00,M2,WT1,DAC+CAG,I,3735,NaN,"1/24/18, Micro-transplantation"
22,P23,38,F,2018-08-13 00:00:00,M5,"WT1,KIT,IDH2","IA, IA, IA, EA, Ara-C",II,1900,NaN,NaN
23,P24,43,M,2018-10-23 00:00:00,M2,"WT1,IDH2,NPM1","IA, IA, Ara-C, IA, AAE",I,8194,NaN,NaN
24,P25,56,F,2018-07-17 00:00:00,M5,"NPM1,DNMT3A,TET2,ASXL1,WT1","IA, IA, IA, Ara-C, Ara-C, Ara-C",II,7367,NaN,NaN
25,P26,18,M,2018-04-13 00:00:00,M2,"BCR-ABL,RUNX1,BCORL1","IA, IA, HAA",II,2513,NaN,"09/10/18, HSCT"
26,P27,49,F,2018-07-30 00:00:00,M5,"NPM1,SH2B3,PTPN11,FLT3-ITD","IA, IA, IA, AAE, AAE, AAE",II,4279,NaN,NaN
27,P28,65,M,2018-05-30 00:00:00,M2,NaN,NaN,II,8260,NaN,NaN
28,P29,65,M,2018-06-15 00:00:00,M1,"IDH2,SRSF2,NPM1,",DAC+CAG,I,844,NaN,NaN
29,P30,57,M,2018-03-21 00:00:00,M5,"ASXL2,WT1,IDH2,U2AF1,FLT3-ITD","DAC+CAG, DAC+CAG, DAC+CAG, DAC+CAG",I,1715,NaN,"4/4/18, 6/21/18, 10/11/18, 2/15/19, Micro-tran..."
30,P31,39,M,2018-07-23 00:00:00,M5,WT1,"IA, IA, Ara-C, HAA, HAA",II,5768,NaN,NaN
31,P32,40,M,2018-05-28 00:00:00,M5,"TET2,ASXL1,WT1","IA, IA, IA, Ara-C, Ara-C, Ara-C, Ara-C",II,7989,NaN,NaN
32,P33,63,M,2018-10-10 00:00:00,M4,"IDH2,SRSF2,CEBPA","DAC+CAG, DAC+CAG, AZA+IA",II,7336,NaN,"10/17/18, 1/3/19, Micro-transplantation"
33,P34,62,M,2018-05-21 00:00:00,M2,"WT1,IDH2,ASXL1,RUNX1,PHF6","DAC+CAG, DAC+IA, DAC+IA, DAC+IA",I,2018,NaN,"5/25/18, 9/19/18, 11/23/18, Micro-transplanta..."
34,P35,24,F,2018-05-17 00:00:00,M5,"ASXL1,TP53,WT1","IA, IA, Ara-C, Ara-C, Ara-C, IA",II,2880,NaN,NaN
35,P36,61,M,2018-10-05 00:00:00,M5,"NRAS,DNMT3A,ASXL1,TP53,WT1","DA, IA, AAE, AAE, HAA",II,3706,NaN,NaN
36,P37,66,F,2018-04-24 00:00:00,M5,"DNMT3A,IDH2,TET2,ASXL1,TP53,WT1",DAC+IA,II,6243,NaN,"4/26/18, Micro-transplantation"
37,P38,71,M,2018-05-07 00:00:00,M2,"ASXL2,WT1,TP53,RUNX1",DAC+IA,II,2742,NaN,"6/14/18, Micro-transplantation"
38,P39,29,M,2018-07-02 00:00:00,M2,"CSF3R,NARS,KRAS,KIT,WT1","IA, IA, Ara-C, Ara-C, AAE",II,7545,NaN,NaN
39,P40,70,M,2018-06-04 00:00:00,M2,"ASXL1,TET2,DNMT3A,TP53,WT1","IA, IA, IA, IA, IA",II,1520,NaN,NaN
40,P-extra 1,50,M,4/14/20,M5,"FLT3-ITD,TET2",IA,NaN,1518(Pre)/5425(Post),"clollected before the 2rd regimen, remission",NaN
41,P-extra 2,66,F,4/14/20,M2,"IDH2, DNMT3A",DAC,NaN,1182(Pre)/2243(Post),"clollected after the 1st regimen, remission",NaN
42,N01,60,F,2017-09-05 00:00:00,Normal,NaN,NaN,NaN,2234,NaN,NaN
43,N02,63,M,2018-07-17 00:00:00,Normal,NaN,NaN,NaN,2979,NaN,NaN
44,N03,44,F,2018-07-17 00:00:00,Normal,NaN,NaN,NaN,3348,NaN,NaN

## Exploring the Data Frame Data2 which is read as an ordered dictionary of multile dataframes representing each sheet in the gene marker excel sheet

In [20]:
data2.keys()

dict_keys(['P01', 'P02', 'P03', 'P04', 'P05', 'P06', 'P07', 'P08', 'P09', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15', 'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25', 'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35', 'P36', 'P37', 'P38', 'P39', 'P40', 'N01', 'N02', 'N03', 'P-extra1', 'P-extra2', 'P04-Post', 'P20-Post', 'P-extra1-Post', 'P-extra2-Post'])

## Creating a single dataframe by appending all the dataframes in the Ordered Dictionary data2

In [22]:
ctr=0
df_list=[]
for x in data2.keys():
    tdf=data2[x]
    tdf['Sample ID']=x
    df_list.append(tdf)

data2_v1 = pd.concat(df_list, axis=0, ignore_index=True)

In [23]:
data2_v1

,Unnamed: 0,p_val,avg_logFC,pct.1,pct.2,p_val_adj,cluster,gene,Unnamed: 8,cell type,Sample ID,element
0,MYC,2.694477e-52,0.577107,0.343,0.192,3.905914e-48,1,MYC,NaN,AML progenitor cell_nonspecificity,P01,NaN
1,GYPC,2.494695e-44,0.455651,0.436,0.288,3.616310e-40,1,GYPC,NaN,NaN,P01,NaN
2,GAS5,3.485452e-99,0.392348,0.900,0.773,5.052511e-95,1,GAS5,NaN,NaN,P01,NaN
3,SMIM24,3.220443e-24,0.353415,0.374,0.270,4.668355e-20,1,SMIM24,NaN,NaN,P01,NaN
4,SNHG8,1.168819e-60,0.346406,0.778,0.645,1.694320e-56,1,SNHG8,NaN,NaN,P01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37074,TMED10,2.740085e-03,0.355618,0.275,0.110,1.000000e+00,14,TMED10,NaN,NaN,P-extra2-Post,NaN
37075,RPN2,3.375320e-03,0.352146,0.275,0.113,1.000000e+00,14,RPN2,NaN,NaN,P-extra2-Post,NaN
37076,ZNF706,1.704009e-03,0.343940,0.375,0.162,1.000000e+00,14,ZNF706,NaN,NaN,P-extra2-Post,NaN
37077,KRTCAP2,1.048265e-03,0.312033,0.300,0.112,1.000000e+00,14,KRTCAP2,NaN,NaN,P-extra2-Post,NaN
37078,CTSS,6.354170e-03,0.268496,0.300,0.130,1.000000e+00,14,CTSS,NaN,NaN,P-extra2-Post,NaN

## EDA: Checking the percent of missing values in the dataframe data2_v1

In [29]:
#data2_v1.isna()/data2_v1.shape[0]
((data2_v1.isnull() | data2_v1.isna()).sum() * 100 / data2_v1.index.size).round(2)

Unnamed: 0      0.00
p_val           0.00
avg_logFC       0.00
pct.1           0.00
pct.2           0.00
p_val_adj       3.44
cluster         0.00
gene            0.00
Unnamed: 8    100.00
cell type      98.85
Sample ID       0.00
element        96.56
dtype: float64

In [31]:
data2_v1.columns

Index(['Unnamed: 0', 'p_val', 'avg_logFC', 'pct.1', 'pct.2', 'p_val_adj',
       'cluster', 'gene', 'Unnamed: 8', 'cell type', 'Sample ID', 'element'],
      dtype='object')

## Droping the column 'Unnamed: 0' because it's a duplicate of column 'gene' 

## Dropping the column 'Unnamed: 8' because it has 100% missing values

In [33]:
data2_v2= data2_v1.drop(['Unnamed: 0','Unnamed: 8'], axis=1)

In [35]:
#Exploring the different gene values for patient 'P04'
data2_v2.loc[data2_v2['Sample ID']=='P04'].gene.values

array(['SPINK2', 'CD74', 'IGKC', 'SOX4', 'PRDX1', 'HLA-DRA', 'SMIM24',
       'CLEC2B', 'FAM30A', 'PSMB1', 'STMN1', 'S100A10', 'LGALS1', 'CD99',
       'RP11-234A1.1', 'ATP5G2', 'HLA-DPA1', 'HLA-DRB1', 'RP11-386I14.4',
       'PSME1', 'IFITM3', 'RPL6', 'NPM1', 'SELL', 'SNRPD1', 'ATP6V1G1',
       'MRPL33', 'ELANE', 'CTSG', 'DEFA4', 'AZU1', 'PRTN3', 'RNASE3',
       'CST7', 'SRGN', 'MPO', 'MS4A3', 'RNASE2', 'BPI', 'SLPI', 'S100P',
       'CEACAM8', 'CD24', 'RP11-84C10.2', 'LYZ', 'CSTA', 'CITED2', 'NKG7',
       'MNDA', 'GCA', 'TKT', 'TSPO', 'NUCB2', 'ALOX5AP', 'CAT', 'HLA-C',
       'S100A8', 'S100A9', 'HSP90B1', 'TMEM123', 'HLA-A', 'PCNA', 'HCST',
       'NDUFB9', 'SERPINB1', 'CD63', 'GNAS', 'PCBP1', 'S100A11', 'TMBIM6',
       'PSMB7', 'H2AFV', 'GLRX', 'PLAC8', 'NPC2', 'MGST1', 'PCBP2',
       'HLA-B', 'OAZ1', 'SSR4', 'COX8A', 'ACTB', 'IFI6', 'ACTG1', 'YBX1',
       'GNLY', 'CCL5', 'NKG7', 'HOPX', 'CD52', 'SNRPB2', 'PSMA3',
       'IFITM2', 'ATP6V0E1', 'MRPL51', 'CA1', 'AHSP', 'HBB', 'HBD',
       'HBA1', 'HBA2', 'HBM', 'GYPA', 'GYPB', 'IFI27', 'PRDX2', 'BLVRB',
       'CA2', 'SLC4A1', 'ALAS2', 'RHAG', 'HMBS', 'SLC25A37', 'HEMGN',
       'UROD', 'FBXO7', 'MGST3', 'GYPC', 'TMEM14B', 'PTTG1', 'TMEM14C',
       'HAT1', 'ATPIF1', 'SRI', 'CALM3', 'UCP2', 'CAT', 'HMGB2', 'CKS2',
       'DECR1', 'FTH1', 'YBX1', 'MT2A', 'SOD1', 'ANP32B', 'CD59', 'COX7B',
       'AP2S1', 'TUBA1B', 'LTF', 'CAMP', 'S100A12', 'MMP8', 'S100A8',
       'PGLYRP1', 'S100A9', 'FCN1', 'MNDA', 'S100P', 'EMB', 'LTA4H',
       'CEACAM8', 'BPI', 'SLPI', 'GCA', 'LYZ', 'ALOX5AP', 'GRN', 'ANP32A',
       'ACTR2', 'PLSCR1', 'SNX3', 'TKT', 'HLA-C', 'TSPO', 'DAZAP2',
       'LCP1', 'ACTB', 'CSTA', 'CAP1', 'VIM', 'HLA-B', 'S100A6', 'H2AFV',
       'CTSS', 'OAZ1', 'TMEM123', 'ACTG1', 'S100A11', 'LAPTM5', 'CALM1',
       'PSAP', 'ANXA1', 'GLRX', 'GNAS', 'RNASE2', 'PFN1', 'RNASE3',
       'TALDO1', 'TPT1'], dtype=object)

## Performing a left join on dataframe data2_v2 with dataframe data1 over column 'Sample ID' to get a single table

In [36]:
data_joined=data2_v2.merge(data1,on='Sample ID', how='left')

In [37]:
data_joined

,p_val,avg_logFC,pct.1,pct.2,p_val_adj,cluster,gene,cell type,Sample ID,element,Age,Gender,Date of sample collection relative to diagnosis,FAB subtype,Mutation,Therapeutic regimen,Single-cell type,Cell counts,Post-treatment samples collection information,Transplantation
0,2.694477e-52,0.577107,0.343,0.192,3.905914e-48,1,MYC,AML progenitor cell_nonspecificity,P01,NaN,19.0,F,2018-04-30 00:00:00,M2,"WT1,TP53",NaN,II,7065,NaN,NaN
1,2.494695e-44,0.455651,0.436,0.288,3.616310e-40,1,GYPC,NaN,P01,NaN,19.0,F,2018-04-30 00:00:00,M2,"WT1,TP53",NaN,II,7065,NaN,NaN
2,3.485452e-99,0.392348,0.900,0.773,5.052511e-95,1,GAS5,NaN,P01,NaN,19.0,F,2018-04-30 00:00:00,M2,"WT1,TP53",NaN,II,7065,NaN,NaN
3,3.220443e-24,0.353415,0.374,0.270,4.668355e-20,1,SMIM24,NaN,P01,NaN,19.0,F,2018-04-30 00:00:00,M2,"WT1,TP53",NaN,II,7065,NaN,NaN
4,1.168819e-60,0.346406,0.778,0.645,1.694320e-56,1,SNHG8,NaN,P01,NaN,19.0,F,2018-04-30 00:00:00,M2,"WT1,TP53",NaN,II,7065,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37074,2.740085e-03,0.355618,0.275,0.110,1.000000e+00,14,TMED10,NaN,P-extra2-Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37075,3.375320e-03,0.352146,0.275,0.113,1.000000e+00,14,RPN2,NaN,P-extra2-Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37076,1.704009e-03,0.343940,0.375,0.162,1.000000e+00,14,ZNF706,NaN,P-extra2-Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37077,1.048265e-03,0.312033,0.300,0.112,1.000000e+00,14,KRTCAP2,NaN,P-extra2-Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37078,6.354170e-03,0.268496,0.300,0.130,1.000000e+00,14,CTSS,NaN,P-extra2-Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#Identifying the amount of missing values in each column for EDA
((data_joined.isnull() | data_joined.isna()).sum() * 100 / data_joined.index.size).round(2)

p_val                                               0.00
avg_logFC                                           0.00
pct.1                                               0.00
pct.2                                               0.00
p_val_adj                                           3.44
cluster                                             0.00
gene                                                0.00
cell type                                          98.85
Sample ID                                           0.00
element                                            96.56
Age                                                13.64
Gender                                             13.64
Date of sample collection relative to diagnosis    13.64
FAB subtype                                        13.64
Mutation                                           30.99
Therapeutic regimen                                29.76
Single-cell type                                   22.29
Cell counts                                        13.64
Post-treatment samples collection information      95.63
Transplantation                                    83.38
dtype: float64

In [42]:
len(data_joined['Therapeutic regimen'].unique())

30

In [43]:
len(data_joined['Mutation'].unique())

35

In [44]:
#Saving the Data as Single Repository of Data (SRD) 
data_joined.to_csv('datasets/rawSRDV1.csv',index=False)